<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>이미지 올리기</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label> 이미지 선택하기</label>
        <input type="file" name="img" multiple>
        <button type="submit">올리기</button>
    </form>
</body>
</html>